<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> made a comment1</title>
    <!--
    The style block is collapsed on page load to save you some scrolling.
    Postmark automatically inlines all CSS properties for maximum email client
    compatibility. You can just update styles here, and Postmark does the rest.
    -->
    <style type="text/css" rel="stylesheet" media="all">
        /* Base ------------------------------ */

        body {
            margin: 0px;
            background-color: #f0f0f0;
        }

        a {
            text-decoration: none;
            outline: none;
        }
    </style>
    <style>

    </style>
</head>

<body>
    <table class="m_3849375991772244854body" style="border-collapse:collapse;border-spacing:0;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;height:100%;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tbody>
            <tr style="padding:0;text-align:left;vertical-align:top">
                <td class="m_3849375991772244854center" align="center" valign="top" style="border-collapse:collapse;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:center;vertical-align:top;word-break:break-word">
                    <center style="width:100%">
                        <table class="m_3849375991772244854trello-block m_3849375991772244854trello-block-background--trello-blue" style="background-color:#0079bf;border-collapse:collapse;border-spacing:0;color:#fff;padding:0;text-align:inherit;vertical-align:top;width:100%">
                            <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td style="border-collapse:collapse;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-break:break-word">
                                        <div class="m_3849375991772244854trello-block-single-column m_3849375991772244854center" style="display:block;margin:0 auto;max-width:580px;padding:15px 16px 12px 16px; text-align: center;">
                                            <span style="color: #fff; font-size: 22px; font-weight: bold;">Reviewee</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="m_3849375991772244854trello-block m_3849375991772244854trello-block-background--gray" style="background-color:#f0f0f0;border-collapse:collapse;border-spacing:0;padding:0;text-align:inherit;vertical-align:top;width:100%">
                            <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td style="border-collapse:collapse;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:16px 0;text-align:left;vertical-align:top;word-break:break-word">
                                        <div class="m_3849375991772244854trello-block-single-column" style="display:block;margin:0 auto;max-width:580px;padding:12px 16px">

                                            <table width="100%" class="m_3849375991772244854phenom" style="border-collapse:collapse;border-spacing:0;margin:12px 0;padding:0;text-align:left;vertical-align:top">
                                                <tbody>
                                                    <tr style="padding:0;text-align:left;vertical-align:top">

                                                        <td class="m_3849375991772244854phenom-details" style="border-collapse: collapse; color: #4d4d4d; font-family: 'Helvetica', 'Arial', sans-serif; font-size: 16px; font-weight: normal; line-height: 19px; margin: 0; padding: 0; text-align: left; vertical-align: top; word-break: break-word">
                                                           {{htmlBody}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td class="content-cell">
                                                        <p style="font-size:small;color:#666">By  {{login}}</p>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="m_3849375991772244854trello-block m_3849375991772244854trello-block--blog-post" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:inherit;vertical-align:top;width:100%">
                                                <tbody>
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                        <td style="border-collapse:collapse;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-break:break-word">
                                                            <p style="font-size:small;color:#666"> ————————————————————————————————————<br> You are receiving
                                                                this because you are subscribed to this thread.<br>Reply
                                                                to this email directly, <a href="{{actionUrl}}" target="_blank" style="font-size:16px;">View it on Reviewee</a>.</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table width="100%" class="m_3849375991772244854phenom" style="border-collapse:collapse;border-spacing:0;margin:12px 0;padding:0;text-align:left;vertical-align:top">
                                                <tbody>
                                                    <tr style="padding:0;text-align:left;vertical-align:top">
                                                        <td class="m_3849375991772244854phenom-details" style="border-collapse:collapse;color:#4d4d4d;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-break:break-word">
                                                        
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>



                    </center>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>